[submodule "vendor/--force"]
	path = vendor/--force
	url = git@github.com:dummymeuporg/libdummy.git
[submodule "vendor/libdummy"]
	path = vendor/libdummy
	url = git@github.com:dummymeuporg/libdummy.git
